feature bgp
feature interface-vlan

interface {{ general.loopback }}
  ip address {{ general.loopback_ip }} {{ general.loopback_netmask }}


interface {{ general.dxcon.interface }}
  description "{{ general.dxcon.description }}"
  switchport mode trunk
  switchport trunk allowed vlan {% for vlan in vlans %}{{ vlan.vlan_id }}{% if not loop.last %},{% endif %}{% endfor %}{{'\n'}}
  bfd interval 300 min_rx 300 multiplier 3
  no shutdown

{% for v in vrf %}
vrf context {{ v.name }}
{% endfor %}


{% for vlan in vlans %}
vlan {{ vlan.vlan_id }}
  name {{ vlan.vlan_name }}
{% endfor %}

{% for vlan in vlans %}
interface vlan {{ vlan.vlan_id }}
  {% if vlan.vrf %}
  ip vrf {{ vlan.vrf }}
  {% endif %}
  description "{{ vlan.vlan_description }}"
  ip address {{ vlan.vlan_interface_ip }} {{ vlan.vlan_interface_netmask }}
  no shutdown
{% endfor %}


router bgp {{ general.local_bgp_asn }}
  bgp router-id {{ general.router_id }}
  bgp log-neighbor-changes
  bgp graceful-restart
  timers bgp 10 30
  maximum-paths 4

{% for v in vrf %}
  {% if v.name == 'AWS-BACKEND' %}
    {% for bgp in v.bgp %}
  neighbor {{ bgp.neighbor }}
    bfd
    remote-as {{ bgp.remote_as }}
    update-source {{ bgp.update_source }}
    address-family ipv4 unicast
    {% endfor %}
  {% else %}
  vrf {{ v.name }}
    {% for bgp in v.bgp %}
    neighbor {{ bgp.neighbor }}
      bfd
      remote-as {{ bgp.remote_as }}
      update-source {{ bgp.update_source }}
      address-family ipv4 unicast
    {% endfor %}
  {% endif %}
{% endfor %}


