feature bgp
feature interface-vlan

interface {{ loopback }}
  ip address {{ loopback_ip }} {{ loopback_netmask }}
  ip ospf 1 area 0
  ip ospf network point-to-point


interface Ethernet0/1
  description "{{ dxcon_description }}" ! # Add DXCON ID
  switchport mode trunk
  switchport trunk allowed vlan {{ vlans }}
  bfd interval 50 min_rx 50 multiplier 5
  no shutdown

vlan {{ vlan }}
  name {{ dxcon_name }}

interface vlan {{ vlan}}
  description "{{ vlan_description }}"
  ip address {{ vlan_interface_ip }} {{ vlan_interface_netmask }}
  no shutdown

router bgp {{ local_bgp_asn }}
 bgp router-id {{ router_id }}
 bgp log-neighbor-changes
 bgp graceful-restart
 timers bgp 10 30
 


 address-family ipv4
  neighbor 169.254.1.2 activate
  neighbor 169.254.1.2 send-community both
  neighbor 169.254.1.2 maximum-prefix 100 80
  maximum-paths 4

router ospf 1
 router-id 169.254.255.1
 passive-interface default
 no passive-interface Loopback100